.bg {
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.authorization {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 40px;
  align-self: center;
  margin-bottom: 80px;
}
.authorization__header {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.authorization input {
  margin: 10px 20px;
}
.authorization__btn {
  width: 100%;
  border: none;
  background-color: #eb0c0c;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 10px;
  align-items: center;
  margin-top: 10px;
}
